{% set currentUrl = page.url %}

<nav class="site-nav">
  <div class="narrative site-nav__inner">
    <a class="site-nav__brand" href="/"
      {% if currentUrl === '/' %}aria-current="page"{% endif %}
    >{{ meta.siteName }}</a>
    <ul class="site-nav__list" role="list">
      {% for link in collections.pages %}
      {% if link.data.navigation %}
      <li>
        <a
          href="{{ link.url }}"
          {% if currentUrl === link.url %}aria-current="page"{% endif %}
        >{{ link.data.navigation }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
