<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91583-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-91583-11');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}" />
    <link rel="icon" href="{{ '/unstyled-favicon.png' | url }}" />
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />

    <meta name="twitter:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" content="{{ pageDescription }}" />
    <meta name="og:title" content="{{ pageTitle }}" />
    <meta name="og:description" content="{{ pageDescription }}" />

    <link rel="preload" href="/fonts/baloo-2-v1-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/baloo-2-v1-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for {{ meta.siteName }}"
      href="/feed/"
    />
  </head>
  <body{% if backgroundColor %} style="--color-accent: {{ backgroundColor }};"{% endif %}>
    {{ content | safe }}

    <footer class="site-footer">
      <div class="narrative">
        <p>&copy; 2003&ndash;{% year %} {{ meta.siteName }}</p>
      </div>
    </footer>
  </body>
</html>
